@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500;600;700;800&family=Sniglet:wght@800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
button,a, ul{
    all: unset;
    cursor: pointer;
}
/* menu button */
header{
    background-color: rgba(255, 255, 255, 0.949);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .8rem;
    position: fixed;
    z-index: 4;
}
p{
    font-family: "Dosis", "Open sans", "Helvetica", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 1.5;
    margin-bottom: 0.8em;
    text-shadow: 0 2px 0 rgba(255,255,255,0.5);
    color: #1423A5;
}

.h-links{
    position: absolute;
    top: 4.1rem;
    right: 0;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    font-family: 'Dosis', sans-serif;
    font-size: 1.37rem;
    font-weight: 700;
    color: #1423A5;
    gap: 1.5rem;
    padding-bottom: 1rem;
    background-color: white;
}
#menuBtn{
    width: 1.2rem;
    height: 1.2rem;
    background: url(images/nav-menu.svg);
}
#closeBtn{
    width: 1.2rem;
    height: 1.2rem;
    background: url(images/nav-close.svg);
    position: absolute;
    right: 1rem;
    display: none;
}
.active::before{
    content: '';
    display: inline-block;
    height: 16px;
    width: 16px;
    background: url(images/nav-star_2x.png);
    background-size: cover;
    margin-right: .5rem;
    
}
.active::after{
    content: '';
    display: inline-block;
    height: 16px;
    width: 16px;
    background: url(images/nav-star_2x.png);
    background-size: cover;
    margin-left: .5rem;
    
}
.h-link:hover::after{
    content: '';
    display: inline-block;
    height: 16px;
    width: 16px;
    background: url(images/nav-star_2x.png);
    background-size: cover;
    margin-left: .5rem;
    
}
.h-link:hover::before{
    content: '';
    display: inline-block;
    height: 16px;
    width: 16px;
    background: url(images/nav-star_2x.png);
    background-size: cover;
    margin-right: .5rem;
}

/* hero section */
.hero{
    height: 100vh;
    background-image: linear-gradient(to bottom, #CCFFFD 0%, #FFB6D9 100%);
    overflow: hidden;
    padding-top: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 0;
}
/* spiral animation */
@keyframes rotating {
    from {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    to {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);

    }
  }

.spiral-img{
    position: absolute;
    z-index: -1;
    height: 100vh;
    -webkit-animation: rotating 20s linear infinite;
    -moz-animation: rotating 20s linear infinite;
    -ms-animation: rotating 20s linear infinite;
    -o-animation: rotating 20s linear infinite;
    animation: rotating 20s linear infinite;
    
    
}

.hero-title{
    font-family: 'Sniglet', cursive;
    font-size: 1.5rem;
    color: #1423A5;
}
.hero-logo{
    width: 220px;
}
.hero-p{
    padding: 0 .8rem;
}
.hero-left{
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}
/*
.hero-btn{
    font-family: 'Dosis', sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    color: white;
    background-color: #2457e4;
    padding: 4px 0 9px 0;
    width: 290px;
    border-radius: 25px;
    text-shadow: 0 2px rgb(0 0 0 / 20%);
    position: relative;
    border: solid 3px transparent;
    border-color: #1423A5;
    letter-spacing: .05rem;
}
.hero-btn:before {
    background-color: rgba(255,255,255,0.1);
    content: "";
    height: 55px;
    width: 100%;
    border-radius: 50%;
    position: absolute;
    left: 0;
    bottom: 40%;
    z-index: 1;
}
*/
.hero-right img{
    width: 100%;
}
/* anniversary */
.anniversary{
    width: 100%;
    height: 100vh;
    background: url('images/anniversary-bg.jpg');
    background-position: top;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.anniversary::before{
    position: absolute;
    background: url(/images/zig-zag-border.png);
    width: 100%;
    height: 35px;
    content: '';
    left: 0;
    top: -1rem;
}
.an-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}
.an-inner{
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem 1.5rem;
    margin: 0 1rem;
    border-radius: 1.25rem;
    gap: 1rem;
}
.an-img{
    width: 300px;
    margin-bottom: -2rem;
    z-index: 2;
}
.an-inner h1{
    font-size: 2rem;
    font-family: 'Sniglet', cursive;
    font-weight: 700;
    color: #1423A5;
    margin-top: 1rem;
}

.btn-container{
    display: block;
    position: static;
    width: 90%;
    height: 49.8px;
    inset: auto;
    margin-right: 0px;
    pointer-events: none;
}
.btn{
    font-family: "Dosis", sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 1.375rem;
    border-radius: 25px;
    display: block;
    overflow: hidden;
    padding: 2px 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease;
    border: solid 3px transparent;
    z-index: 1;
}
.btn::before{
    content: "";
    height: 50%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.btn::after{
    content: "";
    border-radius: 0 0 3em 3em;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 100%;
}
.btn-red{
    border-color: #B11A45;

}
.btn-red::before{
    background: #f5637e;
}
.btn-red::after{
    background: #cc3b5b;
}
.btn span{
    text-shadow: 0 2px rgba(0,0,0,0.2);
    display: block;
    position: relative;
    z-index: 2;
    padding: 4px 0 9px 0;
    border-radius: 25px;
}
.btn-red span{
    background: #C72549;
}
.btn span::before{
    background-color: rgba(255,255,255,0.1);
    content: "";
    height: 55px;
    width: 100%;
    border-radius: 50%;
    position: absolute;
    left: 0;
    bottom: 40%;
    z-index: 1;
}
.btn-blue{
    border-color: #1423A5;
}
.btn-blue::before{
    background-color: #7197ff;
}
.btn-blue::after{
    background-color: #1646c9;
}
.btn-blue span{
    background-color: #2457e4;
}
.hero-left .btn-container{
    width: 300px;
}


/* news & videos */
.news-videos{
    height: 1287px;
    width: 100%;
    background: url('images/star-gradient-bg.jpg');
    background-position: top;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    
}
.news-videos::before{
    position: absolute;
    background: url(/images/zig-zag-border.png);
    width: 100%;
    height: 35px;
    content: '';
    left: 0;
    top: -1rem;
    
}
.news-videos h1{
    font-family: 'Sniglet', cursive;
    color: white;
    font-size: 2.5rem;
    text-align: center;
}
.news-container{
    width: 100%vw;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 0 1rem;
    justify-content: center;
    
}
.news-container a{
    background-color: white;
    display: block;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.3);
    
    
}
.news-container a img{
    width: 100%;
    margin-bottom: 1rem;
}
.news-container a p{
    font-size: 1.1rem;
    padding: 0 .5rem;
}


/* kirby's return*/
.kirby-returns{
    width: 100%;
    height: 90vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 .7rem;
}
.kirby-returns::before{
    content: '';
    position: absolute;
    background: url(/images/zig-zag-border.png);
    width: 100%;
    height: 35px;
    content: '';
    left: 0;
    top: -1rem;
}
.kr-pattern-bg{
    width: 100%;
    height: 100%;
    background: #ffec40;
    position: absolute;
    top: 0;
    z-index: -2;
}
.kr-bg{
    width: 100%;
    height: 100%;
    background: url(/images/bg_starpattern-white.png);
    position: absolute;
    top: 0;
    z-index: -1;
    opacity: .35;

}
.kr-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
}
.kr-container h1{
    font-family: 'Sniglet', cursive;
    font-weight: 700;
    color: #1423A5;
    font-size: 2rem;
}
.kr-video-btn{
    width: 100%;
}
.kr-video-btn{
    border: 3px solid #ffffff;
    border-radius: 1.75rem;
    position: relative;
    overflow: hidden;
    box-shadow: 4px 4px 0 0 rgba(0,0,0,0.2);
    display: flex;
}
.kr-video-btn img{
    width: 100%;
}
.playbtn{
    position: absolute;
    color: white;
    width: 70px;
    height: 70px;
    background-color: rgb(20, 35, 165);
    border-radius: 6rem;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
/* featured */
.featured{
    width: 100%;
    height: 1100px;
    position: relative;
    padding: 0 1rem;
    background: url('images/history-bg-pattern-pink-2x.jpg');
    background-size: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.featured::before{
    content: '';
    position: absolute;
    background: url(/images/zig-zag-border.png);
    width: 100%;
    height: 35px;
    content: '';
    left: 0;
    top: -1rem;
    align-items: center;
    justify-content: center;
}
.featured h1{
    font-family: 'Sniglet', cursive;
    color: #1423A5;
    text-shadow: 0 2px 0 rgba(255,255,255,0.5);
    font-size: 2.5rem;
    text-align: center;

}
.featured-games{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
}
.f-game-container{
    position: relative;
    
}
.f-game{
    border: 3px solid #ffffff;
    border-radius: 1.75rem;
    position: relative;
    overflow: hidden;
    box-shadow: 4px 4px 0 0 rgba(0,0,0,0.2);
    display: flex;
    z-index: 1;
}
.f-game img{
    width: 100%;
}
.f-subtitle{
    background-color: #fff;
    padding: .5rem;
    border-bottom-left-radius: .8rem;
    border-bottom-right-radius: .8rem;
    position: absolute;
    right: 1.5rem;
    z-index: 0;
    font-family: "Dosis", "Open sans", "Helvetica", sans-serif;
    font-size: .8rem;
    letter-spacing: 0.5px;
    color: #E60012;
}
.featured .btn-container{
    margin-top: 1.5rem;
}
/* amiibo section */
.amiibo{
    width: 100%;
    height: 120vh;
    background: url('images/platform-1-bg.gif');
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 .5rem;
    gap: 2rem;
}
.amiibo::before{
    content: '';
    position: absolute;
    background: url(/images/platform1-top.png);
    width: 100%;
    height: 116px;
    content: '';
    left: 0;
    top: -2rem;
}
.amiibo h1{
    font-family: 'Sniglet', cursive;
    color: #1423A5;
    text-shadow: 0 2px 0 rgba(255,255,255,0.5);
    font-size: 2.5rem;
    text-align: center;

}
.amiibo-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 1rem;
}
.amiibo-container a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    cursor: pointer;
    border: 3px solid #fff;
    background-color: rgba(203,212,68,0.75);
    border-radius: 20px;
    position: relative;
    box-shadow: 4px 4px 0 rgba(0,0,0,0.2);
    align-items: center;
    justify-content: center;
    padding: 1.5rem .5rem;
}
.amiibo-container a img{
    width: 100%;
}
.amiibo-container a span{
    font-family: 'Dosis', sans-serif;
    text-shadow: 0 2px 0 rgba(255,255,255,0.5);
    font-size: 1.375rem;
    font-weight: 800;
    letter-spacing: 0.5px;
}
/* play nintendo */
.play-nintendo{
    width: 100%;
    height: 90vh;
    position: relative;
    background: linear-gradient(to bottom, #fcd555 10%, #ffae29 100%);
}
.play-nintendo::before{
    content: '';
    position: absolute;
    background: url(/images/zig-zag-border.png);
    width: 100%;
    height: 35px;
    content: '';
    left: 0;
    top: -1rem;
    align-items: center;
    justify-content: center;
}

/* desktop responsive */
@media screen and (min-width:764px){
    #menuBtn, #closeBtn{
        display: none;
    }
    .mobile-logo{
        display: none;
    }
    .h-links{
        position: relative;
        top: 0;
        display: flex;
        flex-direction: row;
        padding-bottom: 0;
        justify-content: center;
        gap: 8rem;
        background-color: transparent;
    }
    .hero-title{
        font-size: 2rem;
    }
    .hero-logo{
        width: 350px;
    }
    .hero{
        height: 145vh;
    }
    .anniversary{
        height: 550px;
        background-position: center;
        
    }
    .news-videos{
        height: 110vh;
        background-position:bottom;
    }
    .an-container{
        flex-direction: row;
    }
    .an-img{
        width: 300px;
        margin-right: -2rem;
        z-index: 2;
        margin-bottom: 4rem;
    }
    .btn-container{
        width: 300px;
    }
    .news-container{
        width: 100%vw;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1.25rem;
        padding: 0 1rem;
    }
    .kirby-returns{
        height: 900px;
    }
    .kr-container h1{
width: 600px;
    }
    .playbtn{
        width: 150px;
        height: 150px;
    }
    .featured h1{
        font-size: 3rem;
    
    }

    .featured{
        height: 600px;
    }
    .f-game-container{
        max-width: 300px;
        
    }
    .featured-games{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
    }
    .amiibo{
        height: 600px;
    }
    .amiibo h1{
        font-size: 3rem;
    }
    .amiibo-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 100%;
        gap: 1rem;
    }


}
@media screen and (min-width:1024px) {
    .hero{
        height: 600px;
        justify-content: center;
    }
    .hero-inner{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        width: 1024px;
        height: 100%;
    }
    .hero-p{
        width: 500px;
    }
    .hero-title{
        font-size: 2rem;
    }
    .hero-logo{
        width: 400px;
    }
    .spiral-img{
        height: auto;
    }
    .news-videos{
        height: 600px;
        background-position:bottom;
    }
    .news-container{
        width: 100%vw;
        display: flex;
        flex-direction: row;
        gap: 1.25rem;
        padding: 0 1rem;
    }
    .news-container a{
        max-width: 300px;
        height: 300px;
    }
    .featured-games{
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }
    .amiibo-container{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
        justify-content: center;
    }

    .amiibo-container a{
        max-width: 250px;
    }

}

