@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500;600;700;800&family=Sniglet:wght@800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
button,a, ul{
    all: unset;
    cursor: pointer;
}
/* menu button */
header{
    background-color: rgba(255, 255, 255, 0.949);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .8rem;
    position: fixed;
    z-index: 4;
}
.h-links{
    position: absolute;
    top: 4.1rem;
    right: 0;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    font-family: 'Dosis', sans-serif;
    font-size: 1.37rem;
    font-weight: 700;
    color: #1423A5;
    gap: 1.5rem;
    padding-bottom: 1rem;
    background-color: white;
}
#menuBtn{
    width: 1.2rem;
    height: 1.2rem;
    background: url(images/nav-menu.svg);
}
#closeBtn{
    width: 1.2rem;
    height: 1.2rem;
    background: url(images/nav-close.svg);
    position: absolute;
    right: 1rem;
    display: none;
}
.active::before{
    content: '';
    display: inline-block;
    height: 16px;
    width: 16px;
    background: url(images/nav-star_2x.png);
    background-size: cover;
    margin-right: .5rem;
    
}
.active::after{
    content: '';
    display: inline-block;
    height: 16px;
    width: 16px;
    background: url(images/nav-star_2x.png);
    background-size: cover;
    margin-left: .5rem;
    
}
.h-link:hover::after{
    content: '';
    display: inline-block;
    height: 16px;
    width: 16px;
    background: url(images/nav-star_2x.png);
    background-size: cover;
    margin-left: .5rem;
    
}
.h-link:hover::before{
    content: '';
    display: inline-block;
    height: 16px;
    width: 16px;
    background: url(images/nav-star_2x.png);
    background-size: cover;
    margin-right: .5rem;
}

/* hero section */
.hero{
    height: 100vh;
    background-image: linear-gradient(to bottom, #CCFFFD 0%, #FFB6D9 100%);
    overflow: hidden;
    padding-top: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 0;
}
/* spiral animation */
@keyframes rotating {
    from {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    to {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);

    }
  }

.spiral-img{
    position: absolute;
    z-index: -1;
    height: 100vh;
    -webkit-animation: rotating 20s linear infinite;
    -moz-animation: rotating 20s linear infinite;
    -ms-animation: rotating 20s linear infinite;
    -o-animation: rotating 20s linear infinite;
    animation: rotating 20s linear infinite;
    
    
}

.hero-title{
    font-family: 'Sniglet', cursive;
    font-size: 1.5rem;
    color: #1423A5;
}
.hero-logo{
    width: 220px;
}
.hero-p{
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
    color: #1423A5;
    line-height: 1.6rem;
    padding: 0 .8rem;
}
.hero-left{
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}
.hero-btn{
    font-family: 'Dosis', sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    color: white;
    background-color: #2457e4;
    padding: 4px 0 9px 0;
    width: 290px;
    border-radius: 25px;
    text-shadow: 0 2px rgb(0 0 0 / 20%);
    position: relative;
    border: solid 3px transparent;
    border-color: #1423A5;
    letter-spacing: .05rem;
}
.hero-btn:before {
    background-color: rgba(255,255,255,0.1);
    content: "";
    height: 55px;
    width: 100%;
    border-radius: 50%;
    position: absolute;
    left: 0;
    bottom: 40%;
    z-index: 1;
}
.hero-right img{
    width: 100%;
}
/* anniversary */
.anniversary{
    width: 100%;
    height: 100vh;
    background: url('images/anniversary-bg.jpg');
    background-position: top;
    background-size: cover;
    position: relative;
}
.anniversary::before{
    position: absolute;
    background: url(/images/zig-zag-border.png);
    width: 100%;
    height: 35px;
    content: '';
    left: 0;
    top: -1rem;
    z-index: 3;
}



/*
.btn{
    font-family: "Dosis", sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 1.375rem;
    border-radius: 25px;
    display: block;
    overflow: hidden;
    padding: 2px 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease;
    border: solid 3px transparent;
    z-index: 1;
}
.btn::before{
    content: "";
    height: 50%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.btn::after{
    content: "";
    border-radius: 0 0 3em 3em;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 100%;
}
.btn-red{
    border-color: #B11A45;

}
.btn-red::before{
    background: #f5637e;
}
.btn-red::after{
    background: #cc3b5b;
}
.btn span{
    text-shadow: 0 2px rgba(0,0,0,0.2);
    display: block;
    position: relative;
    z-index: 2;
    padding: 4px 0 9px 0;
    border-radius: 25px;
}
.btn-red span{
    background: #C72549;
}
.btn span::before{
    background-color: rgba(255,255,255,0.1);
    content: "";
    height: 55px;
    width: 100%;
    border-radius: 50%;
    position: absolute;
    left: 0;
    bottom: 40%;
    z-index: 1;
}
.starburst{
    display: block;
    position: static;
    width: 240px;
    height: 49.8px;
    inset: auto;
    margin-right: 0px;
    pointer-events: none;
}
*/
/* news & videos */
.news-videos{
    height: 170vh;
    width: 100%;
    background: url('images/star-gradient-bg.jpg');
    background-position: top;
    background-size: cover;
    position: relative;
}
.news-videos::before{
    position: absolute;
    background: url(/images/zig-zag-border.png);
    width: 100%;
    height: 35px;
    content: '';
    left: 0;
    top: -1rem;
    z-index: 3;
}




/* desktop responsive */
@media screen and (min-width:764px){
    #menuBtn, #closeBtn{
        display: none;
    }
    .mobile-logo{
        display: none;
    }
    .h-links{
        position: relative;
        top: 0;
        display: flex;
        flex-direction: row;
        padding-bottom: 0;
        justify-content: center;
        gap: 8rem;
        background-color: transparent;
    }
    .hero-title{
        font-size: 2rem;
    }
    .hero-logo{
        width: 350px;
    }
    .hero{
        height: 145vh;
    }
    .anniversary{
        height: 500px;
        background-position: center;
        
    }
    .news-videos{
        height: 110vh;
        background-position:bottom;
    }



}
@media screen and (min-width:1024px) {
    .hero{
        height: 600px;
        justify-content: center;
    }
    .hero-inner{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        width: 1024px;
        height: 100%;
    }
    .hero-p{
        width: 500px;
    }
    .hero-title{
        font-size: 2rem;
    }
    .hero-logo{
        width: 400px;
    }
    .spiral-img{
        height: auto;
    }
    .news-videos{
        height: 600px;
        background-position:bottom;
    }
}

